.content {
    align-self: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.header {
    align-self: center;
    text-align: center;
}

body {
    background-color: #222222;
}

h1, p, li, label {
    color: white;
}